<!-- Navbar -->
<nav class="navbar bg-body shadow-sm mb-2">
    <div class="container">
        <a class="navbar-brand" href="#">TaskManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.daily_log') }}">Daily Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.dashboard') }}">Dashboard</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item" href='{{ url_for("auth.change_pass") }}'>Change Password</a></li>
                        <li><a class="dropdown-item" href='{{ url_for("user.set_macros") }}'>Set macros</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href='{{ url_for("auth.logout") }}'>Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <button id="toggleTheme" class="btn btn-body-secondary bg-dark-subtle">Toggle Theme</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    const html = document.documentElement;
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        html.setAttribute("data-bs-theme", savedTheme);
    }

    document.getElementById("toggleTheme").addEventListener("click", () => {
        const current = html.getAttribute("data-bs-theme");
        const next = current === "dark" ? "light" : "dark";
        html.setAttribute("data-bs-theme", next);
        localStorage.setItem("theme", next);
    });
</script>