{% extends "base.html" %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.barcode.label(class="form-label") }}
        {{ form.barcode(class="form-control-plaintext", readonly=true) }}
    </div>

    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.energy.label(class="form-label") }}
        {{ form.energy(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.protein.label(class="form-label") }}
        {{ form.protein(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.carbs.label(class="form-label") }}
        {{ form.carbs(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.sugar.label(class="form-label") }}
        {{ form.sugar(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.fat.label(class="form-label") }}
        {{ form.fat(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.saturated_fat.label(class="form-label") }}
        {{ form.saturated_fat(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock%}