{% extends 'base.html' %}

{% block title %}Daily Calorie Dashboard{% endblock %}

{% block content %}
<div class="container my-4">
    <h2 class="mb-3">Daily Calorie Dashboard ({{ today }})</h2>

    <!-- Macro Summary -->
    <div class="card p-3 mb-3">
        <h5>Macros</h5>
        {% for macro in macros %}
        <div class="mb-2">
            <span class="macro-text">{{ macro.name }}: {{ macro.current }} / {{ macro.target }}</span>
            <div class="progress rounded" style="height: 24px;">
                <div class="progress-bar bg-danger macro-bar" role="progressbar"
                    style="width: {{ macro.bar_width_overflow }}%">
                    {{ (macro.current - macro.target) }}{{ macro.unit }}
                </div>
                <div class="progress-bar bg-success macro-bar" role="progressbar" style="width: {{ macro.bar_width }}%">
                    {{ min(macro.current, macro.target) }}{{ macro.unit }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Items List -->
    <div class="card p-3">
        <h5>Items Eaten Today</h5>
        <div class="list-group list-group-flush">
            {% for log in logs %}
            <div class="list-group-item item-row d-flex justify-content-between align-items-center">
                <span>({{ log.amount }}g) {{ log.food_item.name }}</span>
                <span>{{ log.food_item.energy_100 * log.amount / 100 }} kcal</span>
            </div>
            {% endfor %}
        </div>
    </div>


</div>

<!-- Bottom Navigation Buttons -->
<div class="container-fluid fixed-bottom py-2">
    <div class="d-flex p-3">
        <!-- Left Button -->
        <a href="" class="btn card flex-fill me-2 rounded-pill">
            ‹ Previous
        </a>

        <!-- Center Button (highlighted) -->
        <a id="set_link_date" href="{{ url_for('add_meal_v2.get_barcode') }}"
            class="btn btn-success flex-fill mx-2 fw-bold rounded-pill">
            ＋ Add Item
        </a>

        <!-- Right Button -->
        <a href="" class="btn card flex-fill ms-2 rounded-pill">
            Next ›
        </a>
    </div>
</div>

{% endblock %}